@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #011936;
  color: #ece2e2;
}

.app {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}

.header-container {
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
}

.title {
  cursor: pointer;
}

.btn-open-favorites {
  padding: 2px 8px;
  position: absolute;
  top: 13px;
  right: 0;
  color: #011936;
  font-weight: bold;
  cursor: pointer;
}

@media (min-width: 768px) {
  .app {
    padding: 2rem;
  }
}
